.btn
{
    padding:12px 35px;
    background-color: var(--main-color);
    border: none;
    color: var(--bg-color-light);
    text-transform: uppercase;
    font-weight: 500;
    width: fit-content;
}