.progressbar {
  position: relative;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .progressbar-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 11px;
      color: var(--main-color);
      font-weight: 100;
    }
  }
  svg {
    width: 100%;
    height: 50px;
    overflow: hidden;
    path {
      width: 100%;
      height: 50px;
      stroke: #191923;
    }
    path:last-child{

      stroke: var(--main-color);
    }
    @keyframes path-80 {
      from {
        stroke-dashoffset: 289;
      }
    
      to {
        stroke-dashoffset: 60.682;
      }
    }
    @keyframes path-90 {
      from {
        stroke-dashoffset: 289;
      }
    
      to {
        stroke-dashoffset: 30.682;
      }
    }
    @keyframes path-100 {
      from {
        stroke-dashoffset: 289;
      }
    
      to {
        stroke-dashoffset: 0;
      }
    }
    .path-80 {
      animation: path-80 1000ms ease-in-out;
      stroke-dasharray: 292.273, 292.273;
      stroke-dashoffset: 60.682;
    }
    .path-90 {
      animation: path-90 1000ms ease-in-out;
      stroke-dasharray: 292.273, 292.273;
      stroke-dashoffset: 30.682;
    }
    .path-100 {
      animation: path-100 1000ms ease-in-out;
      stroke-dasharray: 292.273, 292.273;
      stroke-dashoffset: 0;
    }
  }
  .progressbar-title{
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
  }
}
