.navbar {
  height: calc(100vh - 32px);
  max-height: calc(100vh - 32px);
  width: 230px;
  min-width: 230px;
  margin-left: auto;
  transition: all 500ms ease-in-out;
  position: absolute;
  top: 0;
  right: -150px;
  background-color: var(--bg-color-light);
  .navbar-header{
    height: 70px;
    width: 230px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--bg-color-lighter);
    padding-inline: 30px;
    svg{
      color: white;
      border-radius: 5px;
      cursor: pointer;
      rect{
        fill: white;
      }
    }
  }
  .navbar-items{
    height: calc(100vh - 222px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    span{
      transition: all ease-in-out;
      transform: translateX(150px);
      font-size: 14px;
      color: var(--light-grey-font);
      cursor: pointer;
    }
    span:nth-child(1)
    {
      transition-duration: 1000ms;
    }
    span:nth-child(2)
    {
      transition-duration: 1100ms;
    }
    span:nth-child(3)
    {
      transition-duration: 1200ms;
    }
    span:nth-child(4)
    {
      transition-duration: 1300ms;
    }
  }
  .navbar-languages{
    height: 120px;
    background: var(--bg-color-lighter);
  }
}
.active-navbar {
  transform: translateX(-150px);
  .navbar-header{
    width: 230px;
  }
  .navbar-items{
    span{
      transform: translateX(0);
    }    
  }
}
