.navbar {
  height: calc(100vh - 32px);
  max-height: calc(100vh - 32px);
  width: 230px;
  min-width: 230px;
  margin-left: auto;
  transition: all 500ms ease-in-out;
  position: absolute;
  top: 0;
  right: -150px;
  background-color: var(--bg-color-light);
  .navbar-header{
    height: 70px;
    width: 230px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--bg-color-lighter);
    padding-inline: 30px;
    svg{
      color: white;
      border-radius: 5px;
      cursor: pointer;
      rect{
        fill: white;
      }
    }
  }
}
.active-navbar {
  transform: translateX(-150px);
  .navbar-header{
    width: 230px;
  }
}
