.service-card{
    display:flex;
    flex-direction: column;
    background-color: var(--bg-color-light);
    width: 32%;
    padding: 30px;
    gap: 8px;
    margin-bottom: 16px;
    h1{
        font-size: 16px;
        position: relative;
        overflow: hidden;
        padding-block: 4px;
        width: fit-content;
        padding-inline: 16px;
        border-radius: 15px;
        margin-inline: auto;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            width: 0;
            left: 50%;
            height: 3px;
            background-color: var(--main-color);
            transition: all 500ms ease-in-out;
        }
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            width: 0;
            right: 50%;
            height: 3px;
            background-color: var(--main-color);
            transition: all 500ms ease-in-out;
        }
    }
    &:hover h1{
        &::after{
            width: 50%;
        }
        &::before{
            width: 50%;
        }
    }
    
    p{
        color: var(--light-grey-font);
        font-size: 12px;
        text-align: center;
    }
}