.education-card {
  width: 48%;
  background-color: var(--bg-color-light);
  border: 4px outset rgb(255, 193, 7, 0.5);
  display: flex;
  flex-direction: column;
  transition: transform 300ms;
  padding: 40px;
  cursor: default;
  position: relative;

  div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .thumbnail {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px black;
    max-width: 100%;
    width: 100%;
    height: 100%;
    z-index: 10;
    >div{
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0);
      margin-inline: auto;
      img {
        opacity: 0.2;
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
  }

  &:hover {
    // transform: translateX(-3px) translateY(-2px);
    .thumbnail{
      display: flex;
    }
    
  }
  h1,
  h2,
  span {
    text-transform: capitalize;
  }

  h1 {
    font-size: 16px;

    text-underline-offset: 4px;
    line-height: 1;
  }
  h2 {
    font-size: 12px;
    color: var(--light-grey-font);
    font-weight: 500;
    letter-spacing: 1px;
  }
  span {
    color: var(--light-grey-font);
    font-size: 12px;
    font-weight: 300;
    border-radius: 10px;
    background-color: var(--bg-color);
    padding: 4px 16px;
  }
  p {
    font-weight: 100;
    color: #b0b0b4;
    margin-top: 16px;
    font-size: 13px;
    text-align: justify;
  }
}
