* {
  box-sizing: border-box;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #191923;
  --bg-color-light: #20202a;
  --bg-color-lighter: linear-gradient(
    159deg,
    rgba(37, 37, 50, 0.98) 0%,
    rgba(35, 35, 45, 0.98) 100%
  );
  --main-color: #ffc107;
  --light-grey-font: #8c8c8e;
}
.app {
  background-color: var(--bg-color);
  padding: 16px;
}
.container {
  max-width: 1440px;
  width: min(1440px, calc(100vw - 32px));
  margin-inline: auto;
  display: flex;
  overflow: hidden;
  position: relative;
}
body {
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}
.page-content {
  width: calc(min(100vw - 402px ,1440px - 370px ) );
  padding: 0 32px;
  transition: all 500ms ease-in-out;
  overflow-y: scroll;
  height: calc(100vh - 32px);
  max-height: calc(100vh - 32px);
  &::-webkit-scrollbar {
    width: 0;
  }
}
.page-content-active{
  transform: translateX(-150px);
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(25, 25, 35,0.4);
  }
}
