@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC,
    U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  color: inherit;
}

body {
  background-color: #191923;
  color: white;
}

.container {
  display: flex;
  padding: 16px;
  height: 100vh;
  margin-inline: auto;
  max-width: 1440px;
  overflow: hidden;
  position: relative;
  width: min(1440px, 100vw - 32px);
}

.bg-accent {
  background: linear-gradient(
    159deg,
    rgba(37, 37, 50, 0.98),
    rgba(35, 35, 45, 0.98)
  );
}
@keyframes path-80 {
  from {
    stroke-dashoffset: 289;
  }

  to {
    stroke-dashoffset: 60.682;
  }
}
@keyframes path-90 {
  from {
    stroke-dashoffset: 289;
  }

  to {
    stroke-dashoffset: 30.682;
  }
}
@keyframes path-100 {
  from {
    stroke-dashoffset: 289;
  }

  to {
    stroke-dashoffset: 0;
  }
}
.path-80 {
  animation: path-80 1000ms ease-in-out;
  stroke-dasharray: 292.273, 292.273;
  stroke-dashoffset: 60.682;
}
.path-90 {
  animation: path-90 1000ms ease-in-out;
  stroke-dasharray: 292.273, 292.273;
  stroke-dashoffset: 30.682;
}
.path-100 {
  animation: path-100 1000ms ease-in-out;
  stroke-dasharray: 292.273, 292.273;
  stroke-dashoffset: 0;
}
.skill {
  box-shadow: 0 0 3px white;
}
